.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: $out-border-radius;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.btns-carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: fit-content;
  padding: 10px 20px;
}

.btns-carousel-container button {
  background-color: transparent;
  border: none;
}

.left-arrow-carousel-container,
.right-arrow-carousel-container {
  color: $color-off-white;
  cursor: pointer;
  transition: color 0.2s ease;
  &:hover {
    color: $color-yellow;
  }
}

.indicators-carousel-container {
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #666666;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background: $color-yellow;
}
