.project-container {
  display: flex;
  align-items:  flex-start;
  justify-content: center;
  width: 100%;
  height: 1000px;
}
.project-container-grid {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 350px 350px 350px;
  gap: 20px 10%;
  grid-template-areas:
    "carousel-project-one text-project-one"
    "text-project-two carousel-project-two"
    "carousel-project-three text-project-three";
    width: 100%;
}

.carousel-project-one {
  grid-area: carousel-project-one;
  width: 400px;
  height: 300px;
}

.text-project-one {
  grid-area: text-project-one;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-text-project-one {
}

.h3-text-project-one {
}

.carousel-project-two {
  grid-area: carousel-project-two;
  width: 400px;
  height: 300px;
}

.text-project-two {
  grid-area: text-project-two;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h3-text-project-two {
}

.p-text-project-two {
}

.carousel-project-three {
  grid-area: carousel-project-three;
  width: 400px;
  height: 300px;
}
.text-project-three {
  grid-area: text-project-three;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h3-text-project-three {
}

.p-text-project-three {
}
