@import "./reset";
@import "./mixins";
@import "./variables";
@import "./global";
@import "./modes";
@import "./typography";
@import "./transitions";
// Import component-specific Sass files
@import './components/header.scss';
@import './components/footer.scss';
@import './components/carousel.scss';
@import './components/banner.scss';
@import './components/about.scss';
// Import page-specific Sass files
@import './pages/homepage.scss';
@import './pages/projects.scss';
@import './pages/contact.scss';

.viewable-area{
    width: 100%;
    overflow: hidden;
}
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15px;
    background: $color-yellow;
    transform-origin: 0%;
    z-index: 999;
  }